[submodule "SHA256"]
	path = SHA256
	url = https://github.com/System-Glitch/SHA256.git
[submodule "cpp-linenoise"]
	path = cpp-linenoise
	url = https://github.com/yhirose/cpp-linenoise.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "thirdparty/ArenaAllocator"]
	path = thirdparty/ArenaAllocator
