name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_and_test:
    if: ${{ vars.CI_ENABLED == 'true' }}

    runs-on: ubuntu-latest
    container: # arch btw
      image: archlinux:latest

    steps:
      - name: Update system
        run: |
          pacman -Syu --noconfirm

      - name: Install system dependencies
        run: |
          pacman -S --noconfirm \
            g++ \
            cmake \
            ninja \
            python \
            git \
            base-devel

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      - name: Build interpreter
        run: |
          mkdir build
          cmake -B build -G Ninja -D CMAKE_BUILD_TYPE=Debug
          cmake --build build -j$(nproc)

      - name: Run tests
        run: |
          python scripts/run_tests.py
